<section class="header">
    <div class="header__container">
        <nav class="header__navbar">
            <p class="linkedin"><a href="#">Linkedin</a></p>
            <p class="github"><a href="#">Github</a></p>
        </nav>
    </div>
</section>

<section class="cityinput">
    <div class="cityinput__container">
        <h2 class="cityinput__heading">Comprehensive Weather Data</h2>

        <form class="cityinput__form" action="/fetchdata" method="post">
            <label class="cityinput__label" for="cityname">Input City</label>
            <input class="cityinput__input" type="text" id="cityname" name="city">
            <button class="cityinput__submit" type="submit">Search!</button>
        </form>
    </div> 
</section>

<section class="weatherdata">
    <% if (initial === true) { %>
        <p class="weatherdata__status"><%= content %></p>
    <% } else { %>
        <p class="weatherdata__status">The temperature now in <%= city %> is <%= content %></p>
    <% } %>
</section>

